name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    strategy:
      matrix:
        include:
          - name: Tests
            command: bin/tests
          - name: Lint
            command: bin/lint
    runs-on: ubuntu-latest
    name: ${{ matrix.name }}
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: '.python-version'
          cache: 'pip'
          cache-dependency-path: |
            requirements.txt
            requirements/*.txt
      - name: Install Python dependencies
        run: |
          pip install -U pip setuptools wheel
          pip install -r requirements.txt --no-deps
      - name: Run ${{ matrix.name }}
        run: ${{ matrix.command }}
